body {
  font-family: Arial, sans-serif;
  background-color: #F2F4F3;
  color: #2E3D49;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

h2 {
  font-size: 1.8rem;
  color: #DB3A34;
}

#image-description-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
}

#image-description {
  font-size: 1rem;
  color: #5E6B73;
  margin-bottom: 20px;
}

#image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding: 20px;
  background-color: #F4EBC3;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
}

#image-gallery img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border: 2px solid #D8D8D8;
  border-radius: 8px;
  transition: transform 0.2s;
}

#image-gallery img:hover {
  transform: scale(1.05);
}

section {
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #5E6B73;
}

/* Add this section to match the footer */
footer a {
  color: #6C7A89;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#image-description-title,
#image-description {
  padding: 5px;
}
